{% extends 'base.html' %}
{% load static %}

{% block body %}
      <br>

      <div class="row justify-content-md-center">
        <div class="col-6 ">
        <br>
          <h2>Edit your Profile </h2>
          <br>
          <form method = 'POST'>
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-primary" role="alert">
                <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>  <br> 
                {% for field in form  %}
                    {% if field.errors %}                    
                       {{ field.errors }}
                    {% endif %} 
                {% endfor %}
                                 
                </div>
        {% endif %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-secondary">Edit</button>
        </form> 
        <small><a href="{% url 'core:changePassword' %}">Click Here </a> to change password</small>
    </div>
    </div>
{% endblock %}
